html
  head
    title Markdown Converter
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-6
          p.
            Enter markdown here
          form(method='post')
            textarea#markdown( name='markdown' )
            input.btn.btn-primary(type='submit')
        .col-md-6
          p.
            HTML output
          #output( name='html' )
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/main.js')
