html
  head
    title Markdown Converter
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-6
          p.
            Enter markdown here
          form(method='post')
            textarea#markdown( name='markdown' )
            input.btn.btn-primary(type='submit')
        .col-md-6
          p.
            HTML output
          #output( name='html' )
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/main.js')
